.animSousTitre
{
   animation: sousTitre 1.5s;
   animation-iteration-count: infinite;
   position: relative;
}

.animTitre
{
    animation: titre 5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes sousTitre{
    from{
       color:white;
    }

    to{
       color:#00d5e5;
    }
}

@keyframes titre{
    from{
        top: 0px;
        opacity: 0;
     }
 
     to{
        top: 70px;
        opacity: 1;
     } 
}
